<h2>Upload Track</h2>

{% if error_message %}<p><strong> {{ error_message }} </strong></p>{% endif %}

<form method = "post" enctype="multipart/form-data">
	{% csrf_token %}
	<input type ="file" name = "track">
	<button type = "submit"> Split! </button>
</form>


<p><label for="id_YTLink">YTLink:</label> <input type="url" name="YTLink" maxlength="200" id="id_YTLink"></p>\n
<p><label for="id_audio">Audio:</label> <input type="file" name="audio" accept="audio/*" id="id_audio"></p>\n
<p><label for="id_OutputType">OutputType:</label> <select name="OutputType" maxlength="5" id="id_OutputType">\n  <option value="mp3">mp3</option>\n\n  <option value="wav">wav</option>\n\n</select></p>


\n<p><label for="id_NStems">NStems:</label> <select name="NStems" maxlength="10" id="id_NStems">\n  <option value="2stems">2 stems</option>\n\n  <option value="4stems">4 stems</option>\n\n  <option value="5stems">5 stems</option>\n\n</select></p>